<h2>Song Form</h2>
<h5>Artist Name:</h5> <%= @song.artist_name %>
<h5>Title:</h5><%= @song.title %> 
<h5>Genre:</h5> <%= @song.genre %>
<h5>Release Year</h5> <%= @song.release_year %>
<h5>Released:</h5> <%= @song.released %>